body{
font-family: Arial;
margin:0;
background:#f4f4f4;
}

header{
background:#0a2540;
color:white;
text-align:center;
padding:40px;
}

section{
padding:40px;
max-width:900px;
margin:auto;
}

h2{
color:#0a2540;
}

ul{
display:flex;
flex-wrap:wrap;
gap:10px;
}

li{
background:#ddd;
padding:8px 12px;
border-radius:5px;
}

.project{
background:white;
padding:20px;
margin-bottom:20px;
border-radius:8px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}

footer{
text-align:center;
padding:20px;
background:#0a2540;
color:white;
}
